<html ng-app="appAngular">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" initial-scale="1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{{titleWeb}}</title>
    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <!-- Materials icons -->
    <link href="stylesheets/fontAwesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Javascript Libraries -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <!-- BootBox -->
    <script src="bower_components/bootbox/bootbox.js"></script>
    <script src="bower_components/ngBootbox/dist/ngBootbox.js"></script>
    <!-- This Script concatenate all the file in the  folder /public/javascripts/ -->
    <script type="text/javascript" src="includes/concat.js"></script>
    <script type="text/javascript" src="includes/jquery-extras.js"></script>
    <script type="text/javascript" src="includes/angular-table.min.js"></script>
    <script type="text/javascript" src="includes/optimumModel.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- UI-SELECT -->
    <script type="text/javascript" src="bower_components/ui-select/dist/select.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/ui-select/dist/select.css">
    <!-- UI Boostrap -->
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <!-- NavBar -->
    <link rel="stylesheet" type="text/css" href="admin-sb/css/navBar.css">
    <link rel="stylesheet" type="text/css" href="admin-sb/css/styles.css">

</head>

<body>

<div id="wrapper" ng-show="route" ng-controller="bootstrapController">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">{{logo}}</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
                            class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="">
                            <div class="media">
									<span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>

                                <div class="media-body">
                                    <h5 class="media-heading"><strong>{{user.username}}</strong>
                                    </h5>

                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="">
                            <div class="media">
									<span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>

                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>

                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="">
                            <div class="media">
									<span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>

                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>

                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b
                            class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.username}}
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href=""><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="" ng-click='logout()'><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="#/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="" ng-if="user.rol >2"><i class="fa fa-fw fa-bar-chart-o"></i> Access Test</a>
                </li>
                <li>
                    <a href="#/userList"><i class="fa fa-fw fa-table"></i> User List</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-fw fa-wrench"></i> Example</a>
                </li>
                <li>
                    <a href="" data-toggle="collapse" data-target="#demo"><i
                                class="fa fa-fw fa-arrows-v"></i> Menu <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li ng-repeat="menu in menus">
                            <a href="#/{{menu.name}}">{{menu.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div class="page-wrapper">

        <div class="container-fluid">
            <div class="row mobile-content">
                <ng-view></ng-view>
            </div>
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<!-- #login -->
<section ng-show="!route">
    <ng-view></ng-view>
</section>
<!-- /#login -->
<footer id="footer" ng-show="route" ng-if="user.rol == 5">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="#"><img class="logoMean" src="../../../setup/public/imgs/meanlogowhite.png" alt="MEANCASE"></a></li>

            <li class="dropup" role="presentation">
                <a class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-paint-brush"></i> Templates
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#/uploadTemplates">Upload Template</a></li>
                    <li><a href="#/selectTemplates">Change Template</a></li>
                </ul>
            </li>
            <li role="presentation"><a href="#/crud"><i class="fa fa-archive"></i> Crud Generator</a></li>

        </ul>
    </div>
</footer>

</body>

</html>