
<div class="input-field">
          <input placeholder="Buscar" id="search" ng-model="searchText" type="search">
          <label for="search"><i class="fa fa-search"></i></label>
          <i class="material-icons fa fa-times"></i>
</div>


<table ng-hide="preloader" class="striped" at-table at-paginated at-list="usersList | filter:filterText" at-config="configTable">
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit at-sortable at-attribute="Usuario" width="150" at-initial-sorting="asc">{{item.username}}</td>
      <td at-implicit at-sortable at-attribute="Rol"  width="250">{{labelRol[item.rol-1]}}</td>
    </tr>
  </tbody>
</table>



<div class="center-align" ng-hide="preloader">
	<at-pagination at-list="usersList" at-config="configTable"></at-pagination>
</div>



<div class="center-align"  ng-hide="!preloader">
<div class="preloader-wrapper max active">
    <div class="spinner-layer spinner-grey-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
</div>
</div>