<h1 class="text-center">CRUD Creation</h1>
<form class="col-md-6 col-md-offset-3" name="CostItemsForm">
    <table class="row table table-hover">
        <thead>
        <tr>
            <th ng-hide="firstRow()">Remove</th>
            <th>Field</th>
            <th>Type</th>
            <th>Show On View</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in collection" ng-form="collection">
            <!--Delete Row-->
            <td ng-hide="firstRow()">
                <div class="col-md-1" ng-click="removeRow($index)"><i class="center-icon fa fa-times"></i></div>
            </td>
            <!--FIELD-->
            <td>
                <input  type="text" name="field" class="form-control" ng-model="item.field" required>
            </td>
            <td>
                <select class="form-control" name="dataType" id="dataType"
                        ng-options="dataType.name for dataType in dataTypes track by dataType.id"
                        ng-init="item.dataType=dataTypes[0]"
                        ng-model="item.dataType">
                </select>

            </td>
            <!--Show On View-->
            <td>
                <input class="checkbox center-select" type="checkbox" ng-init="item.showOnView = true"
                       ng-model="item.showOnView"
                       required>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <button class="btn btn-default" ng-click="addRow()">Add Document</button>
                <button class="btn btn-default" ng-disabled="collection.field.$dirty && collection.field.$invalid" ng-click="validate()">Validate</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</div>
